.header {
  text-align: center;
}
.header img {
  height: 80px;
}

.menu-bar nav {
  background-color: black;
  line-height: 40px;
  font-size: 20px;
  padding: 5px;
}

.menu-bar nav a {
  text-decoration: none;
  color: white;
  line-height: 40px;
  margin: 0px 5px;
  padding: 11px 20px;
}
.menu-bar a:hover {
  background-color: gray;
}
